<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <h3>D3 Quidditch</h3>
    <div class="scoreboard">
    </div>
    <div class="gameContainer"></div> 
    <script src="/js/d3.js" charset="utf-8"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/watchout.js"></script>
  </body>
</html>